<!DOCTYPE html>
<html ng-app="groupAgentApp">
<head>
  <title>My AngularJS App</title>
<!--   <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/> -->
</head>
<body ng-controller="mainCtrl">
  <div ng-controller="authCtrl" >
      <button type="button" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
          <button type="button" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>


     {{groups}}
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/angular-facebook.js"></script>
</body>
</html>
